@font-face {
	font-family: TextOffice-Bold;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNTextOffice-Bold.css');
}
@font-face {
	font-family: TextOffice-Italic;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNTextOffice-Italic.css');
}
@font-face {
	font-family: TextOffice-Medium;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNTextOffice-Medium.css');
}
@font-face {
	font-family: TextOffice-Regula;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNTextOffice-Regular.css');
}
@font-face {
	font-family: HeadOffice-Bold;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNHeadOffice-Bold.css');
}
@font-face {
	font-family: HeadOffice-Light;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNHeadOffice-Light.css');
}
@font-face {
	font-family: HeadOffice-Medium;
    src: url('fonthyundai/HyundaiVNFonts/HyundaiSansVNHeadOffice-Medium.css');
}
#tab-0 {
	display: none;
}
#over {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 999;
    }

    a, a:visited, a:active {
        text-decoration: none;
    }
    
.nav.nav-tabs li:nth-child(2) {
	display: none;
}
#selectversion {
	border: none;
    background-color: #f6f3f2;
	height: 44px;
	width: 82.666667%;
}
label.col-sm-2 {
	margin-top: 1%;
}
.col-xs-6 p{
	font-size: 14px;
	
	color: #fff;
}
.col-xs-6 p a {
	color: #fff;
}
.col-xs-6 p a:hover {
	color: #337ab7;
}
/*.col-xs-6 a img:hover {
	background: url(/images/img-hovercar.png) bottom left no-repeat;
    padding-bottom: 30px;
}*/
.col-sm-3.property-bg {
	background-color: #e4dcd3 !important;
	color: black;
}
.table.property-table tbody tr, .table.list-feature tbody tr td {
	height: 51px;
	border-top: 1px solid #ddd;
	line-height: 24px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.table.list-feature tbody tr td.col-sm-3 {
	background-color: #e4dcd3;
	width: 50%;
}

#specification .col-sm-12.no-padding .col-xs-3 {
	font-weight: bolder;
}
.title-group.col-sm-3 {
	text-align: center;
	padding-bottom: 12%;
	padding-top: 12%;
}
.table.list-feature thead tr th {
	padding-left: 2%;
    float: left;
    font-size: 18px;
    border: none;
    margin-bottom: 15px;
	background: none !important;
	color: #333;
	text-align: left;
}
.col-sm-3.property-bg {
	border-bottom: 1px solid #fff;
}
tr .col-sm-3.property-bg:last-child {
	border-bottom: 1px solid #c6cacb;
}
.col-sm-12.no-padding .col-sm-9 {
	padding-left: 0px;
}
.col-sm-6.property-bg {
	width: 50% !important;
}
.login
{
	height: 167px;
	width: 552px;
    text-align: center;
    font-size:20px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:fixed;
    z-index:99999;
    top: 248px;
    left: 30%;
}
.item .info .subTit {
	color: #fff;
}
.subTit {
    font-size: 19px;
    line-height: 20px;
    font-weight: normal;
	font-weight: bolder;
	text-align: -webkit-center;
	margin: 10px 0;
}
.text_play {
	padding: 20px 0;
}
span.description strong {
	font-weight: bold !important;
}
.PhiloShowList .item .info .conArea {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
	line-height: 28px;
}
.PhiloShowList .item .btnShow {
    display: block;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    right: 0;
    top: 225px;
    width: 40px;
    height: 40px;
    background: url(../images/btn_show_sp.png) no-repeat;
    margin: 0 auto;
	border: 0;
    padding: 0;
    overflow: hidden;
	text-decoration: none;
    color: #000;
}
.PhiloShowList .item {
    position: relative;
    overflow: hidden;
    text-align: center;
}
.PhiloShowList .item .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 0 0 0;
}
button:hover, button:focus {
    color: #000;
    text-decoration: underline;
}
@media screen and (max-width: 1399px) {
	.row.mapproduct {
		height: 330px;
	}
	#slidemenu li {
		width: initial !important;
	}
}
@media screen and (max-width: 1025px) {
	.row.mapproduct {
		height: 237px;
	}
}
@media screen and (max-width: 768px) {
	.row.mapproduct .col-xs-2.no-padding {
		width: 33% !important;
	}
	.row.mapproduct {
		overflow: visible !important;
	}
	center div button {
		display: none;
	}
	.title-group.col-xs-3 {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.col-sm-10.col-xs-12.slide-title-header.no-padding.submenu.slide-content {
		margin-top: 40px
	}
	.iframe-video {
		height: 250px;
	}
}
@media screen and (max-width: 425px) {
	.row.mapproduct .col-xs-2.no-padding {
		width: 33% !important;
	}
	.shoppingtool.on ul li {
		padding: 0 !important;
	}
	.row.mapproduct .col-xs-2.no-padding p {
		font-size: 13px !important;
	}
	center div button {
		margin-bottom: 15% !important;
	}
	#mapproduct {
		width: 100% !important;
	}
}
@media screen and (max-width: 375px) {
	.row .col-sm-12.col-xs-12 {
		margin-bottom: 20px;
	}
	.itemyear {
		width: 30px !important;
	}	
	.col-sm-10.col-xs-12.slide-title-header.no-padding.submenu.slide-content {
		margin-top: 20px
	}
}
@media screen and (max-width: 320px) {
	.iframe-video {
		height: 200px;
	}
}
@media screen and (min-width: 320px) {
	.login {
		top: 165px;
		left: 0%;
		height: 167px;
		width: 100%;
	}
}
@media screen and (min-width: 425px) {
	.login {
		top: 165px;
		height: 167px;
	}
}
@media screen and (min-width: 500px) {
	.login {
		top: 165px;
		height: 167px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media screen and (min-width: 768px) {
	.login {
		top: 165px;
		height: 167px;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
}
@media screen and (min-width: 1024px) {
	.login {
		top: 153px;
	}
	.table.list-feature tbody tr td.col-sm-3, .col-sm-6.property-bg {
		width: 25% !important;
	}
}
@media screen and (min-width: 1300px) {
	.login
	{
		height: 167px;
		top: 248px;
		width: 45%;
		margin-left: 27%;
		margin-right: 27%;
	}
	#carousel-example-generic {
		height: 418px;
	}
	#divImagePNG {
		margin-top: 60px;
	}
}
@media screen and (min-width: 1400px) {
	.row.mapproduct {
		height: 390px;
	}
	.login {
		margin-top: 3%;
	}
}
@media screen and (min-width: 1920px) {
	.login {
		height: 196px;
		width: 40%;
		text-align: center;
		font-size: 20px;
		padding-bottom: 5px;
		display: none;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 5%;
	}
	#carousel-example-generic {
		height: 430px !important;
	}
}
/*Icon lai thu*/
#calltrap-btn {
    background-color: #2074a1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 90px;
    opacity: 0.7;
    position: fixed;
    right: 35px;
    text-align: center;
    width: 90px;
    z-index: 8029;
    -webkit-animation: calltrap_opacity 3s infinite linear;
    -moz-animation: calltrap_opacity 3s infinite linear;
    -o-animation: calltrap_opacity 3s infinite linear;
    animation: calltrap_opacity 3s infinite linear
}
@media screen and (min-width: 426px) {
	#calltrap-btn {
		top: 50%;
	}
}
#calltrap-btn.calltrap_offline {
    background-color: transparent;
}

#calltrap-ico {
    width: 90px;
    height: 90px;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 0;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
    -o-animation: uptocallmini 1.5s 0s ease-out infinite;
    animation: uptocallmini 1.5s 0s ease-out infinite
}

#calltrap-ico:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 116px;
    background-size: cover;
    top: -14%;
    right: 0;
    background-image: url("../images/wheel.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation: calltrap_spin 3s infinite linear;
    -moz-animation: calltrap_spin 3s infinite linear;
    -o-animation: calltrap_spin 3s infinite linear;
    animation: calltrap_spin 3s infinite linear
}

.calltrap_offline #calltrap-ico {
    -webkit-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    -o-animation: uptocallmini_offline 1.5s 0s ease-out infinite;
    animation: uptocallmini_offline 1.5s 0s ease-out infinite
}

#calltrap-overlay {
    background-color: #191919;
    background-color: rgba(25, 25, 25, 0.9);
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    display: none
}

#calltrap-overlay .b-calltrap-overlay {
    display: table;
    width: 100%;
    height: 100%
}

#calltrap-overlay .b-calltrap-overlay__header, #calltrap-overlay .b-calltrap-overlay__body, #calltrap-overlay .b-calltrap-overlay__footer {
    display: table-row;
    padding: 0;
    margin: 0
}

#calltrap-overlay .b-calltrap-overlay__header-block, #calltrap-overlay .b-calltrap-overlay__body-block, #calltrap-overlay .b-calltrap-overlay__footer-block {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#calltrap-overlay .b-calltrap-overlay__body-block {
    padding: 0 0px
}

#calltrap-overlay .b-calltrap-overlay__header, #calltrap-overlay .b-calltrap-overlay__footer {
    height: 1px
}

#calltrap-overlay .b-calltrap__container {
    background-color: white;
    border: 5px solid #2074a1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.3;
    position: relative;
    font-family: Tahoma, Arial, self-serif !important
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-overlay .b-calltrap__container {
        width: 290px
    }
}

#calltrap-overlay .b-calltrap__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#calltrap-overlay .b-calltrap__close:hover {
    opacity: 1
}

#calltrap-success, #calltrap-form {
    display: block
}

#calltrap-success .b-calltrap_form__fields, #calltrap-form .b-calltrap_form__fields {
    margin: 20px 25px 35px
}

#calltrap-success .b-calltrap_form__title, #calltrap-form .b-calltrap_form__title {
    font-size: 20px;
    margin: 0 0 17px;
    text-align: left
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__title, #calltrap-form .b-calltrap_form__title {
        padding-right: 20px
    }
}

#calltrap-success .b-calltrap_form__text, #calltrap-form .b-calltrap_form__text {
    text-align: left
}

#calltrap-success .b-calltrap_form__text p, #calltrap-form .b-calltrap_form__text p {
    margin: 0 0 0.55em
}

#calltrap-success .b-calltrap_form__input, #calltrap-form .b-calltrap_form__input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 15px 0;
    height: 44px;
    line-height: 40px;
    background-color: white;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    width: 100%;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__input, #calltrap-form .b-calltrap_form__input {
        margin-bottom: 13px
    }
}

#calltrap-success .b-calltrap_form__input.error, #calltrap-form .b-calltrap_form__input.error {
    background-color: #ffc0c0;
    color: red;
    border-color: red
}

#calltrap-success .b-calltrap_form__input:disabled, #calltrap-form .b-calltrap_form__input:disabled {
    background-color: #eee;
    border-color: #bdbdbd;
    cursor: default
}

#calltrap-success .b-calltrap_form__input:focus, #calltrap-form .b-calltrap_form__input:focus {
    border: 2px solid #2074a1
}

#calltrap-success .b-calltrap_form__submit, #calltrap-form .b-calltrap_form__submit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2074a1;
    border: 2px solid #2074a1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    height: 44px;
    line-height: 40px;
    outline: medium none;
    display: inline-block;
    width: 180px;
    text-align: center;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__submit, #calltrap-form .b-calltrap_form__submit {
        width: 100%
    }
}

#calltrap-success .b-calltrap_form__submit:hover, #calltrap-form .b-calltrap_form__submit:hover {
    background-color: #1c658c
}

#calltrap-success .b-calltrap_form__submit:disabled, #calltrap-form .b-calltrap_form__submit:disabled {
    background-color: #bdbdbd !important;
    cursor: default
}

#calltrap-success .b-calltrap_form__controls, #calltrap-form .b-calltrap_form__controls {
    margin: 20px 0 0;
    padding: 0;
    padding: 0 200px 0 0
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls, #calltrap-form .b-calltrap_form__controls {
        padding: 0
    }
}

#calltrap-success .b-calltrap_form__controls-item, #calltrap-form .b-calltrap_form__controls-item {
    position: relative;
    float: right
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-item, #calltrap-form .b-calltrap_form__controls-item {
        float: none
    }
}

#calltrap-success .b-calltrap_form__controls-left, #calltrap-form .b-calltrap_form__controls-left {
    margin-left: -100%;
    width: 100%
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-left, #calltrap-form .b-calltrap_form__controls-left {
        margin-left: 0
    }
}

#calltrap-success .b-calltrap_form__controls-right, #calltrap-form .b-calltrap_form__controls-right {
    margin-right: -200px;
    overflow: visible;
    width: 200px;
    text-align: right
}

@media screen and (min-width: 1px) and (max-width: 500px) {
    #calltrap-success .b-calltrap_form__controls-right, #calltrap-form .b-calltrap_form__controls-right {
        margin-right: 0;
        width: auto;
        text-align: left
    }
}

#calltrap-success .b-calltrap_form__controls-clear, #calltrap-form .b-calltrap_form__controls-clear {
    clear: both
}

#calltrap-success {
    display: none
}

#calltrap-overlay.calltrap_offline .b-calltrap_form__submit {
    background-color: #1CB2ED
}

#calltrap-overlay.calltrap_offline .b-calltrap_form__submit:hover {
    background-color: #2e8c1c
}

#calltrap-overlay.calltrap_offline .b-calltrap_form__input:focus {
    border-color: #1CB2ED
}

#calltrap-overlay.calltrap_offline .b-calltrap__container {
    border-color: #1CB2ED
}

@-webkit-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}

@keyframes calltrap_opacity {
    0% {
        opacity: 1
    }
    57% {
        opacity: 0.75
    }
    75% {
        opacity: 0.95
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-moz-keyframes calltrap_spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -moz-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -moz-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-o-keyframes calltrap_spin {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes calltrap_spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    30% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    33% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    36% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    39% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    42% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    45% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    48% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        opacity: 1
    }
    51% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    54% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    57% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-webkit-keyframes uptocallmini {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1;
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}

@-moz-keyframes uptocallmini {
    0% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}

@-o-keyframes uptocallmini {
    0% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}

@keyframes uptocallmini {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(32, 116, 161, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1;
        box-shadow: 0 0 8px 6px #2074a1, 0 0 12px 10px transparent, 0 0 12px 14px #2074a1
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0);
        box-shadow: 0 0 8px 6px rgba(32, 116, 161, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(32, 116, 161, 0)
    }
}

@-webkit-keyframes uptocallmini_offline {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120;
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}

@-moz-keyframes uptocallmini_offline {
    0% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}

@-o-keyframes uptocallmini_offline {
    0% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        box-shadow: 0 0 8px 6px #35A120, 0 0 12px 10px transparent, 0 0 12px 14px #35A120
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}

@keyframes uptocallmini_offline {
    0% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(53, 161, 32, 0)
    }
    10% {
        -webkit-box-shadow: 0 0 8px 6px #89d3f1, 0 0 12px 10px transparent, 0 0 12px 14px #89d3f1;
        box-shadow: 0 0 8px 6px #89d3f1, 0 0 12px 10px transparent, 0 0 12px 14px #89d3f1
    }
    100% {
        -webkit-box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0);
        box-shadow: 0 0 8px 6px rgba(53, 161, 32, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(53, 161, 32, 0)
    }
}
.tooltiptext {
    visibility: hidden;
    width: 138px;
    background-color: #b22;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 150px;
    position: fixed; 
	bottom: 39%;
	cursor: pointer;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 1;
    transition: opacity 1s;
}

@media screen and (min-width: 1200px) {
	#calltrap-btn:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}
@media screen and (min-width: 1440px) {
	.tooltiptext {
	}
}
@media screen and (min-width: 1600px) {
	.tooltiptext {
		bottom: 43%;
	}
}
@media screen and (min-width: 1920px) {
	.tooltiptext {
		bottom: 43%;
	}
}
@media screen and (min-width: 2560px) {
	.tooltiptext {
		bottom: 43%;
	}
}
@media screen and (max-width: 767px) {
	#calltrap-btn, #calltrap-ico, #calltrap-ico:before {
		width: 75px;
		height: 75px;
	}
	#calltrap-ico:before {
		top: 0;
	}
}
@media screen and (max-width: 425px) {
	#calltrap-btn {
		bottom: 35px;
		left: 35px;
	}
	.col-xs-3.event-date p {
		font-size: 18px !important;
	}
}
/*End icon lai thu*/
.header .topbar{z-index:12;padding:0 0 8px;position:relative;margin-bottom:70px}@media (max-width:991px){.header .topbar{margin-bottom:20px}}.header .topbar ul.loginbar{margin:0}.header .topbar ul.loginbar>li{display:inline;list-style:none;position:relative}.header .topbar ul.loginbar>li>a,.header .topbar ul.loginbar>li>a:hover{background:url(../images/icon-arrow.png) 0 7px no-repeat #ced0d1;font-size:10px;text-transform:uppercase;padding:4px 8px 4px 15px;font-family:ModernHEcolight}.header .topbar ul.loginbar li i.fa{color:#bbb}.header .topbar ul.loginbar li.topbar-devider{top:-1px;padding:0;font-size:8px;position:relative;margin:0 9px 0 5px;font-family:Tahoma;border-right:solid 1px #bbb}.header .topbar ul.languages{top:25px;left:-5px;display:none;padding:4px 0;list-style:none;min-width:100px;position:absolute;background:#f0f0f0}.header .topbar li:hover ul.languages{display:block}.header .topbar ul.languages:after{top:-4px;width:0;height:0;left:8px;content:" ";display:block;position:absolute;border-bottom:6px solid #f0f0f0;border-left:6px solid transparent;border-right:6px solid transparent;border-left-style:inset;border-right-style:inset}.header,.header .dropdown-submenu,.header .logo img,.header .navbar-collapse{position:relative}.header .topbar ul.languages li a{color:#555;display:block;font-size:10px;padding:2px 12px;margin-bottom:1px;text-transform:uppercase}.header .topbar ul.languages li.active a i{color:#999;float:right;margin-top:2px}.header .topbar ul.languages li a:hover,.header .topbar ul.languages li.active a{background:#fafafa}.header .topbar ul.languages li a:hover{text-decoration:none}.header{z-index:99}.header>.container{display:table;margin-bottom:-40px}@media (max-width:768px){.header>.container{width:100%}}.header .logo{height:100%;display:table-cell;vertical-align:middle}.header .logo img{z-index:1}@media (max-width:1200px){.header img.big-logo{width:170px;height:auto}}@media (max-width:500px){.header img.big-logo{width:130px;height:auto}}.header img.big-logo{transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out}.header .navbar-toggle{border-color:#474747}.header .navbar-toggle .fa{color:#fff;font-size:19px}.header .navbar-toggle,.header .navbar-toggle:focus,.header .navbar-toggle:hover{background:#474747;padding:6px 10px 2px}.header .navbar-toggle:hover{background:#474747!important}.header .navbar-nav>li>a{color:#fff;font-size:14px;font-weight:400;line-height:30px;font-family:ModernHBold}.header .navbar-nav>.active>a{color:#fff}.header.no-topbar .navbar-toggle{margin-top:25px}@media (min-width:992px){.header .navbar-nav{float:left}.header.no-topbar .navbar-nav{padding-top:36px}}@media (max-width:991px){.header>.container{margin-bottom:0}.header .navbar-toggle{margin-right:0;display:block}.header .navbar-collapse,.header .navbar-collapse .container{padding-left:0;padding-right:0}.header .navbar-header{float:none}.header .navbar-collapse.collapse{display:none!important}.header .navbar-collapse.collapse.in{display:block!important;overflow-y:auto!important}.header .navbar-nav{margin:0 0 5px;float:none!important}.header .navbar-nav>li{float:none}.header .navbar-nav>li>a{padding-top:30px;padding-bottom:40px}.header .dropdown-menu.pull-right{float:none!important}.header .navbar-nav .open .dropdown-menu{border:0;float:none;width:auto;margin-top:0;position:static;box-shadow:none;background-color:transparent}.header .navbar-nav .open>a,.header .navbar-nav .open>a:focus,.header .navbar-nav .open>a:hover{border-bottom-color:#eee}.header .navbar-nav .open .dropdown-menu .dropdown-header,.header .navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}.header .navbar-nav .open .dropdown-menu>li>a{line-height:20px;color:#777}.header .navbar-nav .open .dropdown-menu>li>a:focus,.header .navbar-nav .open .dropdown-menu>li>a:hover{background-image:none;color:#333;background-color:transparent}.header .navbar-nav .open .dropdown-menu>.active>a,.header .navbar-nav .open .dropdown-menu>.active>a:focus,.header .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7}.header .navbar-nav .open .dropdown-menu>.disabled>a,.header .navbar-nav .open .dropdown-menu>.disabled>a:focus,.header .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}.header .dropdown-menu.no-bottom-space{padding-bottom:0}.header .navbar-nav>li>a{font-size:14px;padding:9px 10px}.header .navbar-nav>li a{border-bottom:solid 1px #eee}.header .navbar-nav>li>a:focus{background:0 0}.header .navbar-nav>li>a:hover{color:#000}.header .navbar-nav>.active>a,.header .navbar-nav>.active>a:focus,.header .navbar-nav>.active>a:hover{background:#72c02c;color:#fff!important}.header .dropdown .dropdown-submenu>a{font-size:13px;color:#555!important;text-transform:uppercase}.header .dropdown-submenu>a:after{content:" "}}@media (min-width:992px){.header .navbar-nav,.header .navbar-nav>.active>a,.header .navbar-nav>li>a:hover{position:relative}.header .navbar-collapse{padding:0}.header .container-fluid>.navbar-collapse,.header .container-fluid>.navbar-header,.header .container>.navbar-collapse,.header .container>.navbar-header{margin-bottom:-10px}.header .navbar-nav>li>a{position:relative;padding:7px 20px}.header .navbar-nav>.active>a,.header .navbar-nav>.active>a:focus,.header .navbar-nav>.active>a:hover,.header .navbar-nav>li>a,.header .navbar-nav>li>a:focus,.header .navbar-nav>li>a:hover{background:0 0}.header .navbar-nav>li>a:hover{background-color:#fff}.header .navbar-nav>.open>a,.header .navbar-nav>.open>a:focus,.header .navbar-nav>.open>a:hover{color:#fff}.header .navbar-nav>li:hover>a{color:#000;background-color:#fff}.header .navbar-nav>li:hover>a.logo1{color:#000;background-color:transparent}.header .dropdown-menu{padding:0;border:none;min-width:200px;border-radius:0;z-index:9999!important}.header .dropdown-menu li a{color:#687074;font-size:13px;font-weight:bolder;font-family:ModernHEcolight}.header .dropdown-menu .active>a,.header .dropdown-menu li>a:hover{color:#687074;filter:none!important;background:#eee!important;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out}.header .dropdown-menu li>a:focus{background:0 0;filter:none!important}.header .navbar-nav>li.dropdown:hover>.dropdown-menu{display:block;margin:0 15px}.header .open>.dropdown-menu{display:none}.header .navbar-nav .search-open{width:330px}.header .nav>li>.search{bottom:-2px;position:relative}}.header .dropdown-submenu>.dropdown-menu.submenu-left{left:-100%}.header .dropdown-submenu:hover>.dropdown-menu{display:block}@media (max-width:991px){.header .dropdown-submenu>.dropdown-menu{display:block;margin-left:15px}}.header .dropdown-submenu.pull-left{float:none}.header .dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px}.header .dropdown-menu li [class*=" fa-"],.header .dropdown-menu li [class^=fa-]{left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}.header .dropdown-menu li [class*=" fa-"].fa-lg,.header .dropdown-menu li [class^=fa-].fa-lg{width:1.5625em}.header .nav>li>.search{color:#aaa;cursor:pointer;min-width:35px;font-size:15px;text-align:center;background:#f7f7f7;padding:11px 0 12px;display:inline-block;border-bottom:solid 2px #aaa}.header .nav>li>.search:hover{color:#72c02c;background:#f7f7f7;border-bottom-color:#72c02c}.header .nav .search-open{right:0;top:40px;display:none;padding:14px;position:absolute;background:#fcfcfc;border-top:solid 2px #eee;box-shadow:0 1px 3px #ddd}.header .nav .search-open form{margin:0}@media (min-width:767px) and (max-width:991px){.header .navbar-toggle{margin-right:0}.header .nav .search-open{width:93%}}@media (max-width:991px){.header .nav>li>.search{color:#999;width:35px;height:34px;background:#eee;line-height:12px;text-align:center;margin:5px 10px 0;border-bottom:none}.header .nav>li>.search:hover{background:#5fb611;color:#fff!important}.header .nav .search-open{top:5px;padding:0;left:48px;border-top:none;box-shadow:none;background:0 0;margin-right:10px}}.header .mega-menu .collapse,.header .mega-menu .dropdown,.header .mega-menu .dropup,.header .mega-menu .nav{position:static;background-color:#474747}.header .mega-menu .container,.header .mega-menu .navbar-inner{position:relative}.header .mega-menu .dropdown-menu{left:auto}.header .mega-menu .dropdown-menu>li{display:block}.header .mega-menu .dropdown-submenu .dropdown-menu{left:100%}.header .mega-menu .nav.pull-right .dropdown-menu{right:0}.header .mega-menu .mega-menu-content:after,.header .mega-menu .mega-menu-content:before{content:"";display:table;line-height:0}.header .mega-menu .mega-menu-content:after{clear:both}.header .mega-menu .nav>li>.dropdown-menu:after,.header .mega-menu .nav>li>.dropdown-menu:before{display:none}.header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu{left:0;right:0;overflow:hidden}.header .mega-menu .dropdown.mega-menu-left .dropdown-menu{left:auto;overflow:hidden}.header .mega-menu .dropdown.mega-menu-right .dropdown-menu,.header .mega-menu .dropdown.mega-menu-two-col-right .dropdown-menu{right:0;overflow:hidden}.header .mega-menu .equal-height-list h3{font-size:15px;font-weight:400;padding:0 10px 0 13px;text-transform:uppercase}@media (min-width:992px){.header .mega-menu .mega-menu-content.content-two-col{min-width:596px}.header .mega-menu .mega-menu-content.content-three-col{min-width:864px}.header .mega-menu .equal-height,.header .mega-menu .equal-height-in{display:-webkit-flex;display:-ms-flexbox;display:flex}.header .mega-menu .big-screen-space{margin-bottom:20px}.header .mega-menu .equal-height-in{padding:20px 0;border-left:1px solid #eee}.header .mega-menu .equal-height-in:first-child{border-left:none;margin-left:-1px}.header .mega-menu .equal-height-list{width:100%}.header .mega-menu .equal-height-list li a{display:block;margin-bottom:1px;position:relative;border-bottom:none;padding:5px 10px 5px 15px}.header .mega-menu .equal-height-list a:hover{text-decoration:none}.header .mega-menu .mega-menu-content li a{padding:5px 10px 5px 30px}.header .mega-menu .mega-menu-content li a:after{top:7px;left:15px;font-size:11px;content:"\f105";position:absolute;font-weight:400;display:inline-block;font-family:FontAwesome}.header .mega-menu .disable-icons li a{padding:5px 10px 5px 15px}.header .mega-menu .disable-icons li a:after{display:none}}@media (max-width:991px){.header .mega-menu .equal-height-list h3{color:#555;margin:0 0 5px;font-size:13px;font-weight:400;padding:6px 25px 5px;border-bottom:solid 1px #eee}.header .mega-menu .equal-height-list li a{color:#687074;display:block;font-size:13px;font-weight:400;margin-left:15px;padding:6px 25px;border-bottom:solid 1px #eee}.header .mega-menu .equal-height-list>.active>a,.header .mega-menu .equal-height-list>.active>a:focus,.header .mega-menu .equal-height-list>.active>a:hover,.header .mega-menu .equal-height-list>h3.active{color:#555;background-color:#e7e7e7}.header .mega-menu .equal-height-list li a:hover{color:#333;text-decoration:none}}.header.header-dark{background:#2d2d2d;border-bottom-color:#555}.header.header-dark .topbar ul.languages{background:#444}.header.header-dark .topbar ul.loginbar li.topbar-devider{border-right-color:#666}.header.header-dark .topbar ul.languages li a{color:#bbb}.header.header-dark .topbar ul.languages:after{border-bottom-color:#444}.header.header-dark .topbar ul.languages li a:hover,.header.header-dark .topbar ul.languages li.active a{color:#bbb;background:#555}.header.header-dark .navbar-nav>li>a{color:#ddd}.header.header-dark .navbar-nav>.open>a,.header.header-dark .navbar-nav>.open>a:focus,.header.header-dark .navbar-nav>.open>a:hover{background:inherit}@media (max-width:991px){.header.header-dark .navbar-nav .open>a,.header.header-dark .navbar-nav .open>a:focus,.header.header-dark .navbar-nav .open>a:hover,.header.header-dark .navbar-nav>li a{border-bottom-color:#666}.header.header-dark .navbar-nav .dropdown>a:hover{color:#72c02c;background:inherit}.header.header-dark .navbar-nav .open .dropdown-menu>li>a{color:#bbb}.header.header-dark .navbar-nav .open .dropdown-menu>li>a:focus,.header.header-dark .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff!important}.header.header-dark .navbar-nav .open .dropdown-menu>.active>a,.header.header-dark .navbar-nav .open .dropdown-menu>.active>a:focus,.header.header-dark .navbar-nav .open .dropdown-menu>.active>a:hover{color:#bbb;background:#444}.header.header-dark .dropdown .dropdown-submenu>a{color:#bbb!important}}@media (min-width:992px){.header.header-dark .navbar-nav>.active>a,.header.header-dark .navbar-nav>li>a:hover{color:#72c02c!important}.header.header-dark .dropdown-menu{background:#2d2d2d}.header.header-dark .dropdown-menu li>a{color:#bbb;border-bottom-color:#666}.header.header-dark .dropdown-menu .active>a,.header.header-dark .dropdown-menu li>a:hover{background:#202020!important}.header.header-dark .mega-menu .equal-height-in{border-left-color:#666}}.header.header-dark .nav>li>.search{background:#444}.header.header-dark .search-open{background:#2d2d2d;border-top-color:#555;box-shadow:0 1px 3px #888}.header.header-dark .input-group .form-control{color:#bbb;background:#555;border-color:#999;box-shadow:0 0 2px #555}.header.header-dark .mega-menu .equal-height-list h3{color:#eee}@media (max-width:991px){.header.header-dark .mega-menu .equal-height-list li a{color:#bbb;border-bottom-color:#666}.header.header-dark .mega-menu .equal-height-list li a:focus,.header.header-dark .mega-menu .equal-height-list li a:hover{color:#fff}.header.header-dark .mega-menu .equal-height-list h3{border-bottom-color:#666}}.header-fixed .header{height:auto}.header-fixed .header.header-fixed-shrink{top:0;left:0;width:100%;height:95px;z-index:9999;position:fixed;margin-top:-35px;border-bottom:none;box-shadow:0 0 3px #bbb;background:rgba(255,255,255,.96)}@media (max-width:991px){.header-fixed .header,.header-fixed .header.header-fixed-shrink{height:inherit;position:relative}}@media (min-width:992px){.header-fixed .header.header-fixed-shrink>.container{margin-bottom:-46px}.header-fixed .header.header-fixed-shrink .logo img{max-width:105px;margin:45px 0 -4px}.header-fixed .header.header-fixed-shrink .topbar{margin-top:-10px}.header-fixed .header.header-fixed-shrink .navbar-nav>li>a{padding-top:19px;padding-bottom:19px}.header-fixed .header.header-fixed-shrink .navbar-nav>.active>a,.header-fixed .header.header-fixed-shrink .navbar-nav>li>a:hover{border-bottom:none}.header-fixed .header.header-fixed-shrink .dropdown>a:after{top:20px}.header-fixed .header.header-fixed-shrink .nav>li>.search{color:#555;padding:20px 0 22px;background:inherit;border-bottom:none}.header-fixed .header.header-fixed-shrink .nav .search-open{top:60px}}